<div class="contextual">
  <%= link_to(l(:new_video_label), new_project_video_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:add_video, nil, :global => true) %>
</div>

<h2>Videos</h2>

<%- if @videos.empty? %>
  <p class="nodata">
    No videos uploaded yet!
    <%= link_to "Add one...", new_project_video_path(@project) %>
  <p>
<%- else %>
  <ul class="videos">
    <%- @videos.each do |video| %>
      <li>
      <h3><%= video.title %></h3>
      <dl>
        <dt>URL:</dt>
        <dd><%= link_to video.url, video.url %></dd>
        <dt>Description:</dt>
        <dd><%= video.description %></dd>
        <dt>Duration:</dt>
        <dd><%= video.duration %> seconds</dd>
        <dt>Uploaded by:</dt>
        <dd><%= video.user %></dd>
        <%- if video.version %>
          <dt>Associated with project version:</dt>
          <dd><%= video.version %></dd>
        <%- end %>
      </li>
    <%- end %>
  </ul>
<%- end %>
