<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'video', :plugin => 'redmine_chili_videos' %>
<% end %>

<div class="contextual">
  <%= link_to(l(:new_video_label), new_project_video_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:add_video, nil, :global => true) %>
</div>

<h2>Videos</h2>

<%- if @videos.empty? %>
  <p class="nodata">
    No videos uploaded yet!
    <%= link_to "Add one...", new_project_video_path(@project) %>
  <p>
<%- else %>
  <ul class="videos">
    <%- @videos.each do |video| %>
      <li class="video" id="<%= video.to_param %>">
        <a href="<%= project_video_path(@project, video) %>" class="video-cell small">
          <span>
              <%= video.length %>
          </span>
        </a>
      <h3>
        <%= link_to(truncate(video.title, :length => 24), project_video_path(@project, video), :title => video.title) %>
      </h3>
      <dl>
        <dt>by:</dt>
        <dd>
          <%= link_to(truncate(video.user.name, :length => 17), user_path(video.user)) %>
        </dd>
      </dl>
      </li>
    <%- end %>
  </ul>
<%- end %>
