<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/chili_videos/stylesheets/videos' %>
<% end %>

<div class="contextual">
  <%= link_to(l(:new_video_label), new_project_video_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:add_video, nil, :global => true) %>
  <%= link_to(l(:edit_video_label), edit_project_video_path(@project), :class => 'icon icon-edit video-edit') if User.current.allowed_to?(:modify_video, nil, :global => true) %>
  <%= link_to(l(:delete_video_label), project_video_path(@project), :class => 'icon icon-del video-del', :confirm => l(:confirm_video_deletion), :method => :delete) if User.current.allowed_to?(:delete_video, nil, :global => true) %>
</div>

<h2><%= @video.title.blank? ? l(:default_video_title) : @video.title %></h2>

<div class="single video">
  <div class="video-cell large" id="video_<%= @video.permalink %>"></div>
  <%- if gravatar_enabled? %>
  <%= link_to(gravatar(@video.user.mail), user_path(@video.user), :title => "Uploaded by #{@video.user.name}") %>
  <%- end %>
  <dl>
    <dt>Length:</dt>
    <dd><%= @video.length %></dd>

    <dt>Description:</dt>
    <dd><%= @video.description.blank? ? "(none provided)" : @video.description %></dd>

    <%- if !gravatar_enabled? %>
      <dt>Uploaded by:</dt>
      <dd><%= link_to @video.user, user_path(@video.user) %></dd>
    <%- end %>

    <%- if @video.version %>
      <dt>Release:</dt>
      <dd><%= link_to @video.version, project_version_path(@project, @video.version) %></dd>
    <%- end %>

    <dt><label for="<%= @video.title %>">Embed video:</label></dt>
    <dd><input type="text" id="<%= @video.title %>" class="embed standard" value="<%= video_embed_macro_markup(@video) %>" /></dd>
    <dt><label for="<%= @video.title %>_link">Video Link:</label></dt>
    <dd><input type="text" id="<%= @video.title %>_link" class="embed standard" value="<%= link_to_video_macro_markup(@video) %>" /></dd>
  </dl>
</div>

<%= video_embed_code(@video, :large) %>
