<div class="contextual">
  <%= link_to(l(:new_video_label), new_project_video_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:add_video, nil, :global => true) %>
</div>

<h2><%= @video.title %></h2>

<div class="video">
  <dl>
    <dt>Description:</dt>
    <dd><%= @video.description %></dd>
    <dt>Duration:</dt>
    <dd><%= @video.duration %> seconds</dd>
    <dt>Uploaded by:</dt>
    <dd><%= link_to @video.user, user_path(@video.user) %></dd>
    <%- if @video.version %>
      <dt>Associated with project version:</dt>
      <dd><%= link_to @video.version, project_version_path(@project, @video.version) %></dd>
    <%- end %>
    <dt>Embed</dt>
    <dd><input type="text" class="embed standard" value="<%= video_embed_macro_markup(@video) %>" /></dd>
  </dl>
</div>
